<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>BOSS</title>
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link href="/lib/jquery-ui/jquery-ui.min.css" rel="stylesheet">
    <link href="/lib/semantic/semantic.min.css" rel="stylesheet">
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="/lib/semantic/semantic.js"></script>
    <style>
        .main.container {
            margin-top: 6em;
            min-height: 100vh;
        }
        .hamburger-container {
            display: none !important;
        }

        .ui.secondary.pointing.menu {
          padding-bottom: 10px;
          background-color: white;
        }

        .boss-link-container {
          padding: 15px 0 0 15px !important;
        }

        .claims-active {
            border-color: #fc4f4f !important;
        }

        #bounty-range-slider{
            margin: 5px 10px 15px 10px;
        }

        .btn-container a{
            padding: 10px;
            background: #fc4f4f;
            color: #fff;
            display: block;
        }

        #gobounty input {
            width:100px;
        }

        #gobounty{
            text-align: center;
            overflow: hidden;
        } 

        a.leaderboard-menu:not(.active) {
          color: rgba(0,0,0,.87);
        }

        a.item:hover{
          color: #4399e4 !important;
        }

        @media screen and (max-width: 768px) {
            .menu.fluid {
                overflow: hidden;
                height: 50px;
                -webkit-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
                -moz-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
                -o-transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
                transition: all 600ms cubic-bezier(0.86, 0, 0.07, 1);
            }
            .menu .ui.grid {
                width: 100%;
            }

            .header.item {
                border-bottom: 1px solid rgba(0,0,0,0.2);
                height: 50px !important;
            }

            .hamburger-container {
                display: block !important;
                width: 21%;
                position: relative;
                /* margin-top: -4.5%; */
                margin-right: -8%;
            }

            .hamburger {
                position: relative !important;
                /* position: absolute;
                top: 50%;
                left: 100%;
                -webkit-transform: translate(-50%,-50%);
                -moz-transform: translate(-50%,-50%);
                -o-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%); */
            }

            .separator {
                height: 50px;
                width: 1px;
                background: rgba(0,0,0,0.2);
                /* margin-top: -5%; */
                vertical-align: top;
            }

            .boss-link-container {
                padding: 3px 0 0 15px !important;
                width: 85% !important;
            }

            .boss-link-container a {
                width: 75%;
            }

            .boss-link {
                display: block;
                text-align: center;
                margin-left: 5%;
                /* margin-top: -4.5%; */
            }

            .main.container {
                margin: 6em 0;
            }
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function() {
            var toggle = 0;
            $(".hamburger-container").click(function() {
                if (!toggle) {
                    $(".menu.fluid").css({
                        'height': 'fit-content'
                    });
                    toggle = 1;
                } else {
                    $(".menu.fluid").css({
                        'height': '50px'
                    });
                    toggle = 0;
                }
            });
        });
    </script>
</head>
<body>
<div class="ui top fixed huge fluid secondary pointing stackable menu red">
  <div class="item boss-link-container">
    <a href="/">
      <img height="38" class="boss-link" src="/images/bosslogo.png">
    </a>
    <div class="separator"></div>
    <span class="column hamburger-container">
                <center>
                    <i class="bars icon hamburger"></i>
                </center>
            </span>
  </div>
  <div class="ui stackable container">
    <div class="ui simple dropdown item">
      <i class="checked calendar icon"></i>
        <a class="leaderboard-menu {{menu.leaderboard}}" href="/leaderboard/">Leaderboard</a>
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item {{menu.leaderboard2020}}" href="/leaderboard/2020">2020</a>
        <a class="item {{menu.leaderboard2019}}" href="/leaderboard/2019">2019</a>
      </div>
    </div>

    <div class="ui simple dropdown item {{menu.claims}}">
      <i class="checked calendar icon"></i>
      Claim
      <i class="dropdown icon"></i>
      <div class="menu">
        <a class="item {{menu.claims_view}}" href="/claims/view">View</a>
        {{#if isAuthenticated}}
          <a class="item {{menu.claims_add}}" href="/claims/add">Add</a>
        {{/if}}
      </div>
    </div>
    <a class="item {{menu.stats}}" href="/stats">
      <i class="chart line icon"></i>
      Stats
    </a>
    <a class="item" href="http://lab.codingblocks.com/boss" target="_blank" >
      <i class="info icon"></i>
      Information
    </a>
    <a class="item" href="https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3Aboss+org%3Acoding-blocks+org%3Ajagql+org%3Ahereisnaman" target="_blank" >
      <i class="github icon"></i>
      Open Issues
    </a>
    <a class="item" href="https://discord.gg/CV4fUna" target="_blank" >
      <i class="discord icon"></i> Discord
    </a>
  </div>
  {{#if isAuthenticated}}
    <div class="item right">
      <a target="_blank" href="https://account.codingblocks.com/users/me">Welcome {{user.firstname}} </a>
    </div>
    <a class="item" href="/logout">Logout </a>
  {{else}}
    <a class="right item" href="/login">Login</a>
  {{/if}}

</div>


<div class="ui main container">
    {{{body}}}
</div>

<!-- ------------Footer---------------------------------------------------------------- -->
<footer class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable inverted divided equal height stackable grid">
                <div class="four wide column">
                    <h4 class="ui inverted header">ABOUT US</h4>
                    <div class="ui inverted link list">
                        <a href="https://codingblocks.com/why-coding-blocks.html" class="item">Why Coding Blocks</a>
                        <a href="https://codingblocks.com/reviews/" class="item">Reviews</a>
                        <a href="https://codingblocks.com/team.html" class="item">Our Team</a>
                        <a href="https://codingblocks.com/brochure.html" class="item">Download Brochure</a>
                        <a href="https://codingblocks.com/signup/workshop.html" class="item">Request a Workshop</a>
                        <a href="https://codingblocks.com/success-stories/" class="item">Wall of Fame</a>
                        <a href="https://codingblocks.com/newsletter/" class="item">Newsletters</a>
                        <a href="https://codingblocks.com/events/" class="item">Events</a>
                        <a href="https://hackerblocks.com/" class="item">Hacker Blocks</a>
                    </div>
                </div>

                <div class="four wide column">
                    <h4 class="ui inverted header">COURSES</h4>
                    <div class="ui inverted link list">
                        <a href="https://codingblocks.com/classroom-courses/c-plus-plus-for-beginners.html" class="item">C++ For Beginners</a>
                        <a href="https://codingblocks.com/classroom-courses/java-for-beginners.html" class="item">Java For Beginners</a>
                        <a href="https://codingblocks.com/courses/classroom/advanced/algo-plus-plus.html" class="item">ALGO++</a>
                        <a href="https://codingblocks.com/courses/classroom/advanced/algo-java.html" class="item">DS & Algo In C++ (Online)</a>
                        <a href="https://codingblocks.com/classroom-courses/advanced-data-structures-and-algorithms-for-interviews.html" class="item">DS & Algo In Java (Online)</a>
                        <a href="https://codingblocks.com/courses/classroom/development/android-app-development.html" class="item">Android Development</a>
                        <a href="https://codingblocks.com/courses/classroom/web-development-nodejs.html" class="item">Web Development Using NodeJS</a>
                        <a href="https://codingblocks.com/courses/online/android-app-development.html" class="item">Android Development (Online)</a>
                        <a href="https://codingblocks.com/courses/online/web-development-nodejs.html" class="item">Web Development (Online)</a>
                        <a href="https://codingblocks.com/courses/classroom/machine-learning.html" class="item">Machine Learning</a>
                    </div>
                </div>

                <div class="eight wide column">
                    <div>
                        <a href="https://codingblocks.com/">
                            <img height="38"  src="/images/cb_tshirt_logo.png">
                        </a>
                    </div>
                    
                    <p>Coding Blocks was founded in 2014 with a mission to create skilled Software Engineers for our country and the world. We are here to bridge the gap between the quality of skills demanded by industry and the quality of skills imparted by conventional institutes. At Coding Blocks, we strive to increase student interest by providing hands on practical training on every concept taught in the classroom.</p>
                
                    <div class="horizontal list">
                        <a href="http://twitter.com/codingblocksIN"><i class="twitter icon big"></i></a>
                        <a href="http://facebook.com/codingblocksindia"><i class="facebook f icon big"></i></a>
                        <a href="https://www.instagram.com/codingblocks/"><i class="instagram icon big"></i></a>
                        <a href="https://www.linkedin.com/company/coding-blocks"><i class="linkedin icon big"></i></a>
                        <a href="https://www.youtube.com/codingblocksindia"><i class="youtube icon big"></i></a>
                        <a href="http://github.com/coding-blocks"><i class="github icon big"></i></a>
                    </div>
                    <br>
                    <p>© Copyright 2019 - Coding Blocks Pvt. Ltd.</p>
                    <a href="https://codingblocks.com/privacypolicy.html">Privacy Policy</a><br>
                    <a href="https://codingblocks.com/tos.html">Terms of Service</a>
                    
                </div>
            </div>
        </div>
</footer>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83327907-10"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-83327907-10');
</script>


</body>
</html>
