<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>BOSS</title>
    <link rel='shortcut icon' type='image/x-icon' href='/images/favicon.ico' />
    <link rel="stylesheet" href="https://bootstrap.codingblocks.in/docs/4.4/dist/css/bootstrap.css">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <link rel="stylesheet" href="/lib/bootstrap-select/bootstrap-select.min.css">
    <link rel="stylesheet" href="/lib/styles/custom.css">
    <script src="/lib/jquery-3.2.1.min.js"></script>
    <script src="/lib/cb-bootstrap/popper.min.js"></script>
    <script src="/lib/pagination.js"></script>
    <script src="/lib/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="/lib/cb-bootstrap/cb-bootstrap.min.js"></script>

</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <a class="navbar-brand" href="/">
            <img src="/images/bosslogo.png" height="30" class="d-inline-block align-top" alt="Coding Blocks">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <!-- <li class="nav-item {{menu.leaderboard}} active">
                    <a class="nav-link" href="#"><i class="fa fa-home"></i> Home <span
                            class="sr-only">(current)</span></a>
                </li> -->

                <li class="nav-item dropdown {{menu.leaderboard}}">
                    <a class="nav-link dropdown-toggle " href="#" id="leaderboardDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-certificate"></i> Leaderboard
                    </a>
                    <div class="dropdown-menu" aria-labelledby="leaderboardDropdown">
                        <a class="dropdown-item {{menu.leaderboard2020}} " href="/leaderboard/2020">2020</a>
                        <a class="dropdown-item {{menu.leaderboard2019}} " href="/leaderboard/2019">2019</a>
                    </div>
                </li>

                <li class="nav-item dropdown {{menu.claims}} {{menu.claims_view}} {{menu.claims_add}}">
                    <a class="nav-link dropdown-toggle" href="#" id="claimsDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-list"></i> Claims
                    </a>
                    <div class="dropdown-menu" aria-labelledby="claimsDropdown">
                        <a class="dropdown-item {{menu.claims_view}}" href="/claims/view">View</a>
                        {{#if isAuthenticated}}
                        <a class="dropdown-item {{menu.claims_add}}" href="/claims/add">Add</a>
                        {{/if}}
                    </div>
                </li>


                <li class="nav-item">
                    <a class="nav-link {{menu.stats}}" href="/stats"><i class="fas fa-chart-line"></i> Stats</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="http://lab.codingblocks.com/boss" target="_blank"><i
                            class="fa fa-info"></i> Information</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link"
                        href="https://github.com/issues?utf8=%E2%9C%93&q=is%3Aopen+is%3Aissue+archived%3Afalse+label%3Aboss+org%3Acoding-blocks+org%3Ajagql+org%3Ahereisnaman"
                        target="_blank"><i class="fab fa-github"></i> Open Issues</a>
                </li>

                <li class="nav-item" href="https://discord.gg/CV4fUna" target="_blank">
                    <a class="nav-link" href="#"><i class="fab fa-discord"></i> Discord</a>
                </li>

            </ul>
            {{#if isAuthenticated}}
            <div class="item right">
                <a target="_blank" href="https://account.codingblocks.com/users/me">Welcome {{user.firstname}} </a>
            </div>
            <a href="/logout" class="btn btn-outline-primary btn-sm" type="button">Logout</a>
            {{else}}
            <a href="/login" class="btn btn-outline-primary btn-sm" type="button">Login</a>
            {{/if}}
        </div>
    </nav>

    <!-- main content  -->
    <div class="container-fluid">
        {{{body}}}
    </div>
    <!-- main content end -->

</body>
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-83327907-10"></script>
<script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-83327907-10');
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var toggle = 0;
        $(".hamburger-container").click(function () {
            if (!toggle) {
                $(".menu.fluid").css({
                    'height': '100%'
                });
                toggle = 1;
            } else {
                $(".menu.fluid").css({
                    'height': '50px'
                });
                toggle = 0;
            }
        });
    });
</script>

</html>