<div class="card text-center  mb-3">
    <div class="card-header">
        <h5 class="card-title align-middle text-primary">Leaderboard</h5>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-hover">
            <thead class="leaderboard-head">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Github Username</th>
                    <th scope="col">Points</th>
                    <th scope="col">Pull Requests Submitted</th>
                </tr>
            </thead>
            <tbody>
                {{#if showUserAtTop}}
                    <tr>
                        <td>
                            <p class="right-aligned align-middle">{{loggedInUser.rank}}</p>
                        </td>
                        <td scope="row">
                            <b><a class="text-primary align-middle" href="http://github.com/{{loggedInUser.user}}">{{loggedInUser.user}}</b>
                        </td>
                        <td>
                            <p class="right-aligned align-middle">{{loggedInUser.bounty}}</p>
                        </td>
                        <td>
                            <p class="text-secondary right-aligned align-middle">{{loggedInUser.pulls}}</p>
                        </td>
                    </tr>
                {{/if}}
                {{#each userstats as |user|}}
                <tr>
                    <td>
                        <p class="right-aligned align-middle">{{user.rank}}</p>
                    </td>
                    <td scope="row">
                        <b><a class="text-primary align-middle" href="http://github.com/{{user.user}}">{{user.user}}</b>
                    </td>
                    <td>
                        <p class="right-aligned align-middle">{{user.bounty}}</p>
                    </td>
                    <td>
                        <p class="text-secondary right-aligned align-middle">{{user.pulls}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {{!-- pagination starts --}}
        <div class="card-footer">
            <nav aria-label="Page navigation">
                <ul id="page-selection" class="pagination justify-content-center">
                </ul>
            </nav>
        </div>
        {{!-- pagination ends --}}
    </div>
    <script>
        $(document).ready(function () {
            let initialTrigger = false;
            $('#page-selection').pagination({
                items: {{pagination.length}},
                itemOnPage: 5,
                nextText: '<span aria-hidden="true">&raquo;</span>',
                prevText: '<span aria-hidden="true">&laquo;</span>',
                currentPage: {{page}},
                displayedPages: 3,
                onPageClick: function (page, event) {
                    configureButtons();
                    $('.page-item:first').addClass('disabled');
                    $('.page-item:last').addClass('disabled');
                    window.location.href = `?page=${page}&size={{size}}`
                },
                onInit: function() {
                    configureButtons();
                }
            })

            function configureButtons()
            {
                $('.pagination li').addClass('page-item');
                $('.pagination li a').addClass('page-link');
                $('.current').addClass('page-link');
                $('.ellipse').addClass('page-link');
                if({{page}} == 1)
                    $('.page-item:first').addClass('disabled');
                if({{page}} == {{pagination.length}} || {{pagination.length}} == 0)
                    $('.page-item:last').addClass('disabled');
            }
        });
    </script>
</div>
