<table class="table">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Github User</th>
            <th scope="col">Points</th>
            <th scope="col">PRs Submitted</th>
        </tr>
    </thead>
    {{#if showUserAtTop}}
    <tr class="colored-row">
        <td>
            <div class="center aligned" scope="row">{{loggedInUser.rank}}</div>
        </td>
        <td class="red text center aligned">
            <b class="ui "><a class="red text" href="http://github.com/{{loggedInUser.user}}">{{loggedInUser.user}}</b>
        </td>
        <td>
            <div class="center aligned">{{loggedInUser.bounty}}</div>
        </td>
        <td>
            <div class="center aligned">{{loggedInUser.pulls}}</div>
        </td>
    </tr>
    {{/if}}
    {{#each userstats as |user|}}
    {{#if user.isColored}}
    <tr class="colored-row">
        {{else}}
    <tr>
        {{/if}}
        <td>
            <div class="center aligned" scope="row">{{user.rank}}</div>
        </td>
        <td class="red text center aligned">
            <b class="ui "><a class="red text" href="http://github.com/{{user.user}}">{{user.user}}</b>
        </td>
        <td>
            <div class="center aligned">{{user.bounty}}</div>
        </td>
        <td>
            <div class="center aligned">{{user.pulls}}</div>
        </td>
    </tr>
    {{/each}}
</table>

<div class="ui pagination menu">
    {{#if isFirstPage}}
    <a class="item disabled"> Prev</a>
    {{else}}
    <a class="item" href="?page={{prevPage}}&size={{size}}">Prev </a>
    {{/if}}

    {{#each pagination as |link index|}}
    <a class="item  {{#equal (add index 1) ../page}} active  {{/equal}} " href="{{link}}">
        {{add index 1}}
    </a>
    {{/each}}
    {{#if isLastPage}}
    <a class="item disabled"> Next </a>
    {{else}}
    <a class="item" href="?page={{nextPage}}&size={{size}}">Next </a>
    {{/if}}
</div>

<style>
    .red.text {
        color: red;
    }

    .colored-row {
        background-color: #fcfff5;
    }
</style>