<div class="card text-center  mb-3">
    <div class="card-header">
        <h5 class="card-title align-middle text-primary">Leaderboard</h5>
    </div>
    <div class="card-body">
        <table class="table table-responsive-sm table-hover">
            <thead class="leaderboard-head">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Github Username</th>
                    <th scope="col">Points</th>
                    <th scope="col">Pull Requests Submitted</th>
                </tr>
            </thead>
            <tbody>
                {{#if showUserAtTop}}
                    <tr>
                        <td>
                            <p class="right-aligned align-middle">{{loggedInUser.rank}}</p>
                        </td>
                        <td scope="row">
                            <b><a class="text-primary align-middle" href="http://github.com/{{loggedInUser.user}}">{{loggedInUser.user}}</b>
                        </td>
                        <td>
                            <p class="right-aligned align-middle">{{loggedInUser.bounty}}</p>
                        </td>
                        <td>
                            <p class="text-secondary right-aligned align-middle">{{loggedInUser.pulls}}</p>
                        </td>
                    </tr>
                {{/if}}
                {{#each userstats as |user|}}
                <tr>
                    <td>
                        <p class="right-aligned align-middle">{{user.rank}}</p>
                    </td>
                    <td scope="row">
                        <b><a class="text-primary align-middle" href="http://github.com/{{user.user}}">{{user.user}}</b>
                    </td>
                    <td>
                        <p class="right-aligned align-middle">{{user.bounty}}</p>
                    </td>
                    <td>
                        <p class="text-secondary right-aligned align-middle">{{user.pulls}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        {{!-- pagination starts --}}
        <div class="card-footer">
            <nav aria-label="Page navigation">
                <ul class="pagination justify-content-center">
                    <div id="page-selection"></div>
                </ul>
            </nav>
        </div>
        {{!-- pagination ends --}}
    </div>
    <script>
        $(document).ready(function () {
            let initialTrigger = false;
            $('#page-selection').twbsPagination({
            totalPages: {{pagination.length}}+1,
            visiblePages: 5,
            startPage: {{page}},
            next: 'Next',
            prev: 'Prev',
            onPageClick: function (event, page) {
                console.log({{pagination.length}})
                    console.log(`?page=${page}&size={{size}}`)
                    if (!initialTrigger) {
                        initialTrigger = true;
                    } else {
                        window.location.href = `?page=${page}&size={{size}}`
                    }
                }
            })
        });
    </script>
</div>
