<p style="text-align: center;line-height:0;margin-top:20px" class="h1"><br><img
        src="https://img.icons8.com/officel/80/000000/leaderboard.png" />
    Leaderboard</p>
<hr style="border:3px solid #FF0000">
<table class="table">
    <thead>
        <tr>
            <th scope="col">Rank</th>
            <th scope="col">Github User</th>
            <th scope="col">Points</th>
            <th scope="col">PRs Submitted</th>
        </tr>
    </thead>
    {{#if showUserAtTop}}
    <tr class="colored-row">
        <td>
            <div class="center aligned" scope="row">{{loggedInUser.rank}}</div>
        </td>
        <td class="red text center aligned">
            <b class="ui "><a class="red text" href="http://github.com/{{loggedInUser.user}}">{{loggedInUser.user}}</b>
        </td>
        <td>
            <div class="center aligned">{{loggedInUser.bounty}}</div>
        </td>
        <td>
            <div class="center aligned">{{loggedInUser.pulls}}</div>
        </td>
    </tr>
    {{/if}}
    {{#each userstats as |user|}}
    {{#if user.isColored}}
    <tr class="colored-row">
        {{else}}
    <tr>
        {{/if}}
        <td>
            <div class="center aligned" scope="row">{{user.rank}}</div>
        </td>
        <td class="red text center aligned">
            <b class="ui "><a class="red text" href="http://github.com/{{user.user}}">{{user.user}}</b>
        </td>
        <td>
            <div class="center aligned">{{user.bounty}}</div>
        </td>
        <td>
            <div class="center aligned">{{user.pulls}}</div>
        </td>
    </tr>
    {{/each}}
</table>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{#if isFirstPage}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {{else}}
        <li class="page-item">
            <a class="page-link" href="?page={{prevPage}}&size={{size}}">Previous</a>
        </li>
        {{/if}}


        {{#each pagination as |link index|}}
        <li class="page-item {{#equal (add index 1) ../page}} active  {{/equal}} ">
            <a class="page-link" href="{{link}}">{{add index 1}}</a>
        </li>
        {{/each}}

        {{#if isLastPage}}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Next</a>
        </li>
        {{else}}
        <li class="page-item">
            <a class="page-link" href="?page={{nextPage}}&size={{size}}">Next</a>
        </li>
        {{/if}}
    </ul>
</nav>

<style>
    .red.text {
        color: red;
    }

    .colored-row {
        background-color: #fcfff5;
    }
</style>