<div class="card text-center  mb-3">
    <div class="card-header">
        <h5 class="card-title align-middle text-primary">Leaderboard</h5>
    </div>
    <div class="card-body">
        <table class="table table-hover">
            <thead class="leaderboard-head">
                <tr>
                    <th scope="col">Rank</th>
                    <th scope="col">Github Username</th>
                    <th scope="col">Points</th>
                    <th scope="col">Pull Requests Submitted</th>
                </tr>
            </thead>
            <tbody>
                {{#each userstats as |user|}}
                <tr>
                    <td>
                        <p class="right-aligned align-middle">#</p>
                    </td>
                    <td scope="row">
                        <b><a class="text-primary align-middle" href="http://github.com/{{user.user}}">{{user.user}}</b>
                    </td>
                    <td>
                        <p class="right-aligned align-middle">{{user.bounty}}</p>
                    </td>
                    <td>
                        <p class="text-secondary right-aligned align-middle">{{user.pulls}}</p>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="card-footer">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                {{#if isFirstPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{prevPage}}&size={{size}}">Previous</a>
                </li>
                {{/if}}


                {{#each pagination as |link index|}}
                <li class="page-item {{#equal (add index 1) ../page}} active  {{/equal}} ">
                    <a class="page-link" href="{{link}}">{{add index 1}}</a>
                </li>
                {{/each}}

                {{#if isLastPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Next</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{nextPage}}&size={{size}}">Next</a>
                </li>
                {{/if}}
            </ul>
        </nav>
    </div>
</div>
