{{#if userRank}}
    <h2>
        Your Rank: <span class="red text">{{userRank.rank}} </span>
        Your Points: <span class="red text">{{userRank.bounty}} </span>
    </h2>
{{/if}}
<table class="ui celled padded table red unstackable">
    <thead>
    <tr>
        <th>Rank</th>
        <th>Github User</th>
        <th>Points</th>
        <th>PRs Submitted</th>
    </tr>
    </thead>
    {{#each userstats as |user|}}
        <tr>
            <td>
                <div class="center aligned">{{user.rank}}</div>
            </td>
            <td class="red text center aligned">
                <b class="ui "><a class="red text" href="http://github.com/{{user.user}}">{{user.user}}</b>
            </td>
            <td>
                <div class="center aligned">{{user.bounty}}</div>
            </td>
            <td>
                <div class="center aligned">{{user.pulls}}</div>
            </td>
        </tr>
    {{/each}}
</table>

<div class="ui pagination menu">
               {{#if isFirstPage}}
                    <a class="item disabled"> Prev</a>
                {{else}}
                    <a class="item" href="?page={{prevPage}}&size={{size}}" >Prev </a>
                {{/if}}

                {{#each pagination as |link index|}}
                    <a class="item  {{#equal (add index 1) ../page}} active  {{/equal}} "  href="{{link}}" >
                        {{add index 1}}
                    </a>
                {{/each}}
                {{#if isLastPage}}
                    <a class="item disabled"> Next </a>
                {{else}}
                    <a class="item" href="?page={{nextPage}}&size={{size}}" >Next </a>
                {{/if}}
            </div>

<style>
    .red.text {
        color: red;
    }
</style>
