{{!-- main form --}}
<div class="card border-primary mb-3">
    <form method="post" action="/claims/{{claim.id}}/edit">
        <div class="card-header text-center">
            Create new claim
        </div>

        <div class="card-body">
            <div class="form-group row">
                <label for="username" class="col-sm-2 col-form-label">Github Username</label>
                <div class="col-sm-10">
                    <input name="user" type="text" class="form-control" id="username" disabled type="text"
                        value="{{claim.user}}">
                </div>
            </div>

            <div class="form-group row">
                <label for="issueUrl" class="col-sm-2 col-form-label">Issue URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="issueUrl" name="issue_url" value="{{claim.issueUrl}}" required
                        placeholder="issue url like : http://github.com/coding-blocks/boss/issues/10">
                </div>
            </div>

            <div class="form-group row">
                <label for="pullUrl" class="col-sm-2 col-form-label">Pull Request URL</label>
                <div class="col-sm-10">
                    <input type="url" class="form-control" id="pullUrl" name="pull_url" value="{{claim.pullUrl}}" required
                        placeholder="pull request url like : https://github.com/coding-blocks/boss/pull/4">
                </div>
            </div>

            <div class="form-group row">
                <label for="bounty" class="col-sm-2 col-form-label">Bounty</label>
                <div class="col-sm-10">
                    <input type="number" class="form-control" id="bounty" name="bounty" value="{{claim.bounty}}" required
                        placeholder="Bounty Amount">
                </div>
            </div>
        </div>

        {{#if error}}
        <div class="container">
            <div class="card card-body add-claim-error-card  text-danger text-center">
                {{error}}
            </div>
        </div>
        {{/if}}

        <div class="card-footer">
                <a href="/claims/{{claim.id}}/delete" class="btn btn-danger ">Delete Claim</a>
                <button type="submit" class="btn btn-success update-claim-button">Update Claim</a>
        </div>
    </form>

</div>
{{!-- main form ends --}}