<div class="row">
    <div class="col">
        <div style="margin-top:30px" class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <h1>
                                <span>{{claim.bounty}}</span>
                            </h1>
                            <small>bounty points</small>
                            <hr />
                            {{#equal claim.status "claimed"}}
                            <span class="badge badge-pill badge-warning">{{claim.status}}</span>
                            {{#equal claim.user ../current }}
                            <a href="/claims/{{claim.id}}/edit" class="badge badge-info">Edit
                                Claim</a>
                            {{/equal}}
                            {{/equal}}
                            {{#equal claim.status "accepted"}}
                            <span class="badge badge-pill badge-success">{{claim.status}}</span>
                            {{/equal}}
                            {{#equal claim.status "rejected"}}
                            <span class="badge badge-pill badge-danger">{{claim.status}}</span>
                            {{/equal}}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <a href="/claims/view?username={{claim.user}}&status={{status}}">
                            <h5 class="card-title">{{claim.user}}</h5>
                        </a>
                        <p class="card-text">
                            {{#if claim.reason}}
                            <small class="text-muted">Reason: {{claim.reason}}</small>
                            {{/if}}
                            <small class="text-muted">Project : <a
                                    href="https://www.github.com/coding-blocks/">{{claim.repo}}</a></small>
                            <br />
                        </p>
                        <p class="card-text">
                            <span class="text-muted">Issue: <small><a
                                        href="{{claim.issueUrl}}">{{claim.issueUrl}}</a></small></span>
                            <br />

                            <span class="text-muted">Pull Request: <small><a
                                        href="{{claim.issueUrl}}">{{claim.issueUrl}}</a></small></span>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <form style="margin-top:20px" method="post" action="/claims/{{claim.id}}/update">
            <div class="form-group">
                <label>Final Bounty Points</label>
                <input class="form-control" name="bounty" value="{{claim.bounty}}">
            </div>
            <div class="form-group">
                <label>Update Status</label>
                <select name="status" class="form-control" id="status">
                    <option value="claimed">Claimed</option>
                    <option value="rejected">Rejected</option>
                    <option value="accepted">Accepted</option>
                    <option value="disputed">Disputed</option>
                    <option value="revoked">Revoked</option>
                </select>
            </div>

            <label>Reason </label>
            <textarea class="form-control" name="reason" id="reason"> {{claim.reason}} </textarea>
            <br />
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
    </div>
</div>

<script>

    $('select.dropdown').dropdown();

    { {#unless claim.reason } }
    $('#reason').hide();
    {
        {
            /unless}}

            $('select').on('change', function (e) {
                let status = $('#status option:selected').text();
                if (['Rejected', 'Disputed', 'Revoked'].includes(status))
                    $('#reason').show();
                else
                    $('#reason').html('').hide();

            });

</script>