<nav style="margin-top:10px" class="nav nav-pills flex-column flex-sm-row">
    <a class="flex-sm-fill text-sm-center nav-link {{menuH.claimed}}" href="?status=claimed">Claimed</a>
    <a class="flex-sm-fill text-sm-center nav-link {{menuH.accepted}}" href="?status=accepted">Accepted</a>
    <a class="flex-sm-fill text-sm-center nav-link {{menuH.rejected}}" href="?status=rejected">Rejected</a>
</nav>
<div style="margin-top:40px" class="row">
    <div class="col-4">
        <p class="h3">Filters</p>
        <div style="margin-bottom: 10px;" class="dropdown">
            {{#if username}}
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{username}}
            </button>
            {{else}}
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Usernames
            </button>
            {{/if}}

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

                <div class="customClassForDropDown">
                    {{#each filter as |user|}}
                    <a class="dropdown-item" href="{{user.url}}">
                        {{user.name}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
        {{#if username}}
        <a href="?status={{status}}">
            <div id="resetUsername" class="ui icon button">
                <i class="undo icon"></i>
            </div>
        </a>
        {{/if}}
        <div style="margin-bottom: 10px;" class="dropdown">
            {{#if projectname}}
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{projectname}}
            </button>
            {{else}}
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Projects
            </button>
            {{/if}}

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">

                <div class="customClassForDropDown">
                    {{#each filterproj as |project|}}
                    <a class="dropdown-item" href="{{project.url}}">
                        {{project.name}}
                    </a>
                    {{/each}}
                </div>
            </div>
        </div>
        {{#if projectname}}
        <a href="?status={{status}}">
            <div id="resetProjectName" class="ui icon button">
                <i class="undo icon"></i>
            </div>
        </a>
        {{/if}}
        <div style="margin-bottom: 10px;" class="dropdown">
            {{#if minbounty}}
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                {{minbounty}}-{{maxbounty}}
            </button>
            {{else}}
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Bounty
            </button>
            {{/if}}

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <div class="menu" id="gobounty">
                    <div class="ui search input">
                        <input type="text" id="min" readonly>
                        <input type="text" id="max" readonly>
                    </div>
                    <div class="ui btn-container">
                        <input type="range" class="form-control-range" id="bounty-range-slider">
                        <button class="btn btn-success">Go</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-8">
        {{#if claims}}
        {{#each claims as |claim|}}
        <div style="margin-top:30px" class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="text-center">
                            <h1>
                                <span>{{claim.bounty}}</span>
                            </h1>
                            <small>bounty points</small>
                            <hr />
                            {{#equal claim.status "claimed"}}
                            <span class="badge badge-pill badge-warning">{{claim.status}}</span>
                            {{#equal claim.user ../current }}
                            <a href="/claims/{{claim.id}}/edit" class="badge badge-info">Edit
                                Claim</a>
                            {{/equal}}
                            {{/equal}}
                            {{#equal claim.status "accepted"}}
                            <span class="badge badge-pill badge-success">{{claim.status}}</span>
                            {{/equal}}
                            {{#equal claim.status "rejected"}}
                            <span class="badge badge-pill badge-danger">{{claim.status}}</span>
                            {{/equal}}
                        </div>
                    </div>
                    <div class="col-md-8">
                        <a href="/claims/view?username={{claim.user}}&status={{status}}">
                            <h5 class="card-title">{{claim.user}}</h5>
                        </a>
                        <p class="card-text">
                            {{#if claim.reason}}
                            <small class="text-muted">Reason: {{claim.reason}}</small>
                            {{/if}}
                            <small class="text-muted">Project : <a
                                    href="https://www.github.com/coding-blocks/">{{claim.repo}}</a></small>
                            <br />
                        </p>
                        <p class="card-text">
                            <span class="text-muted">Issue: <small><a
                                        href="{{claim.issueUrl}}">{{claim.issueUrl}}</a></small></span>
                            <br />

                            <span class="text-muted">Pull Request: <small><a
                                        href="{{claim.issueUrl}}">{{claim.issueUrl}}</a></small></span>
                            <br />
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {{/each}}
        {{else}}
        {{#if menuH.claimed}}
        <br>
        <h1>
            <center>No more claimed bounties! </center>
        </h1><br>
        {{else if menuH.accepted}}
        <br>
        <h1>
            <center>Accepted bounties not found! </center>
        </h1><br>
        {{else if menuH.rejected}}
        <br>
        <h1>
            <center>Rejected bounties not found! </center>
        </h1><br>
        {{/if}}
        {{/if}}
        <nav style="margin-top: 10px">
            <ul class="pagination justify-content-center">
                {{#if isFirstPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {{else}}
                {{#if projectname}}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{prevPage}}&size={{size}}&status={{status}}&projectname={{projectname}}"
                        tabindex="-1" aria-disabled="true">Previous</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link" href="?page={{prevPage}}&size={{size}}&status={{status}}&username={{username}}"
                        tabindex="-1" aria-disabled="true">Previous</a>
                </li>

                {{/if}}
                {{/if}}
                {{#each pagination as |link index|}}
                <li class="page-item {{#equal (add index 1) ../page}} active  {{/equal}}"><a class="page-link"
                        href="{{link}}">{{add index 1}}</a></li>
                {{/each}}
                {{#if isLastPage}}
                <li class="page-item disabled">
                    <a class="page-link" href="#">Next</a>
                </li>
                {{else}}
                {{#if projectname}}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{nextPage}}&size={{size}}&status={{status}}&projectname={{projectname}}">Next</a>
                </li>
                {{else}}
                <li class="page-item">
                    <a class="page-link"
                        href="?page={{nextPage}}&size={{size}}&status={{status}}&username={{username}}">Next</a>
                </li>
                {{/if}}
                {{/if}}
            </ul>
        </nav>
    </div>
</div>
</div>

<script>

    $(function () {
        $("#bounty-range-slider").slider({
            range: true,
            min: 0,
            max: 5000,
            values: [{{ minbounty }}, {{ maxbounty }} ],
        slide: function (event, ui) {
            $("#min").val(ui.values[0]);
            $("#max").val(ui.values[1]);
            $('#gobounty a').prop('href', '?minbounty=' + ui.values[0] + "&maxbounty=" + ui.values[1]);
        }
        });
    var min = $("#bounty-range-slider").slider("values", 0);
    var max = $("#bounty-range-slider").slider("values", 1)
    $("#min").val(min);
    $("#max").val(max);
    });

    $('.ui.dropdown').dropdown('hide');

    $('#resetUsername').click(function () {
        $('#username').text('Filter Usernames')
    })

    $('#resetProjectName').click(function () {
        $('#projectName').text('Filter Projects')
    })

    $('.ui.dropdown')
        .dropdown({
            action: function (text, value, element) {
                element.click()
            }
        })
</script>

<style>
    .user.header {
        color: red !important;
    }

    .user.header:hover {
        color: grey !important;
    }

    .customClassForDropDown {
        height: 100px;
        overflow-y: auto;
    }
</style>
</div>